###########
[workspace]
###########

members = [ "backend", "frontend", "shlib"]
resolver = "2"

###################
[workspace.package]
###################

version = "2.0.0-alpha.1"
edition = "2024"
license = "MIT OR Apache-2.0"
authors = ["dxps <dev@devisions.io>"]
