#########
[package]
#########

name = "backend"
description = "cognitive back-end service"
version = "2.0.0-alpha.1"
edition = "2024"
authors = ["dxps <dev@devisions.io>"]

##############
[dependencies]
##############

