/* 
-------------------------
  LIGHT THEME (default)  
-------------------------
*/

#echo {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

#echo > h4 {
	margin: 0px 0px 15px 0px;
}

#echo > input {
	border: 0;
	background-color: transparent;
	color: #404040;
	transition: border-bottom-color 0.2s ease;
	outline: none;
	display: block;
	width: 100%;
}

#echo > input:focused {
	all: unset;
	display: block;
}

#echo > p {
	margin: 20px 0px 0px auto;
}

/* 
---------------------------------------------------
  DARK THEME (when .dark is present on html/body)  
---------------------------------------------------
*/

/* Echo dark card */
.dark #echo {
	background-color: #2a2a2a;
}

/* Echo input dark styles */
.dark #echo > input {
	color: #cccccc;
}
