/* 
-------------------------
  LIGHT THEME (default)  
-------------------------
*/

#hero {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#links {
	width: 400px;
	text-align: left;
	font-size: large;
	color: #111111;
	display: flex;
	flex-direction: column;
}

#links a {
	margin: 10px 0;
	border: #111111 1px solid;
	border-radius: 5px;
	padding: 10px;
}

/* 
---------------------------------------------------
  DARK THEME (when .dark is present on html/body)  
---------------------------------------------------
*/

/* Override text/link colors */
.dark #links {
	color: #eeeeee;
}

.dark #links a {
	color: #eeeeee;
	border-color: #eeeeee;
}

.dark #links a:hover {
	background-color: #1f1f1f;
}
